<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
<meta charset="UTF-8" />
<title>MOON</title>
<link rel="stylesheet" th:href="@{/mushr00m/css/bootstrap-mushr00m.css}" />
<link rel="stylesheet" th:href="@{/icon/css/font-awesome.min.css}" />
</head>
<body class="bg-d">
	<div class="container-fluid">
		<div class="row"></div>
		<div class="row mt-5">
			<div class="col-sm-4 offset-sm-4">
				<div class="card border-light">
					<div class="card-header text-center bg-danger text-white">mushr00m-msg</div>
					<div class="card-body">
						操作不成功 输入有误 或权限不足 <i class="fa fa-frown-o"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- js -->
	<script th:inline="javascript">
		//
	</script>
</body>
</html>