<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
<meta charset="UTF-8" />
<title>Bess</title>
<link rel="stylesheet" th:href="@{/mushr00m/css/bootstrap-Materia.css}" />
<link rel="stylesheet" th:href="@{/icon/css/font-awesome.min.css}" />
</head>
<body style="background: black">
	<div class="container-fluid">
		<div class="row">

			<!--<div class="col text-center text-white shadow mt-1" style="font-size: 48px;-->
				<!--background: rgba(0,0,0,0.75)">-->
				<!--<span class="col text-center-sm">FAZE CLAN UP</span></div>-->
		<!--</div>-->

		<div class="row">
			<div class="col-2"></div>
			<div class="col-4">
				<img src="http://localhost/Bingo/gg1.png"/>
			<video width="1024" height="768" controls autoplay="autoplay" style="margin-top: -45%">
				<source src="http://localhost/Bingo/demo01.mp4" type="video/mp4">
			</video>
			</div>
		</div>
	</div>
	</div>


</body>
</html>