<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>MQ</title>
</head>
<link rel="stylesheet" th:href="@{/mushr00m/css/bootstrap-LUX.css}" />
<link rel="stylesheet" th:href="@{/icon/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/upload/css/uploader.css}" />
<body class="">
<div class="container-fluid" id="app" style="overflow: auto">
    <div class="row">
        <div class="col text-center text-white shadow mt-1" style="font-size: 48px;
background: rgba(0,0,0,0.75)">MQ实验页面1　　
            <img :src="logo.address" width="100px" height="55px"/></div>
    </div>

    <div class="form-inline mt-2">
        <button class="btn btn-info" @click="addMQ()">添加MQ</button>
        <button class="btn btn-danger">获取MQ</button>
        <input type="text" class="form-control" id="MQtext">
    </div>


</div>

<!-- js -->
    <script th:src="@{/moon/js/jquery.js}"></script>
    <script th:src="@{/moon/js/vue.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/moon/js/jquery.url.js}"></script>
    <script th:src="@{/upload/js/uploader.js}"></script>
    <script th:src="@{/moon/js/cookie.jwt.js}"></script>
    <script th:inline="javascript">

        var app = new Vue({
            el:"#app",
            data:{
                product:{},
                logo:{}
            },
            methods:{
                showLogo:function () {
                    $.post("/badger/showLogo",
                        function (data) {
                            app.logo = data;
                        })
                },
                addMQ:function () {
                    $.post("/mq/addToMQ",
                        {task:$("#MQtext").val()},
                    function (data) {
                        layer.msg(data);
                    })
                }
            },
            mounted:function () {
                this.showLogo();
            },
            filters:{
            }
        });


    </script>
</body>
</html>